/* CSS BY CRIS FARRELL */

/* FONTS */
.nabla-font {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}

.bitcount-font {
  font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.press-start-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */

:root {
    --yellow: #ffff00;
    --song-titles: #ff0d00;
    --background: #000000;
    --framing: #7171716c;
    --text-color: #cdeb70;
}

/* GLOBAL STYLES */

body { 
    color: var(--text-color);
    background-color: var(--background);
    font-size: 1rem;
    text-align: center;
}

.boxed-in {
    background-color: var(--framing);
    padding: 1rem;
    margin: 1.25rem;
}

h1 {
    color: var(--yellow);
    font-size: 4rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
h3 { 
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.75rem;
    color: var(--song-titles);
    text-shadow: 2px 2px 4p var(--song-titles);
}
    
nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 1.5rem;
    background-color: var(--background);
}

nav li, #bottom-link {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.25rem;
    color: var(--yellow);
    border: 0.5rem outset var(--framing);
}

main {
    padding: 0.25rem;
}

section {
    padding: 1rem;
}
section p {
    margin: 1rem;
    line-height: 1.5rem;
}

footer {
    font-size: 0.6rem;
}
footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.25rem;
    margin: 0.25rem;
    line-height: 1rem;
}
footer li {
    margin: 1rem;
    text-decoration: none;
    border: none;
}
footer p {
    margin: 1.75rem 1rem 1rem;
}

@media (width >= 768px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    nav li, #bottom-link {
        justify-content: start;
        text-align: left;
        align-items: center;
        padding: 0.5rem;
        margin: 0.25rem;
        border: 0.5rem outset var(--framing);
    }

    #bottom-link { 
        padding-top: 0.25rem;
    }

    #main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
            font-size: 0.8rem;
    }

}

@media (width >= 1200px) {
    nav {
        width: 75%
    }
    nav li {
        text-align: center;
    }  
    
    #main {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media (width >= 1400px) {
    nav {
        width: 80%
    }
    h4 {
        font-size: 2rem;
    }

    #main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    h2, h3 {
        margin: 2rem;
        grid-column: span 2;
    }
    #be-your-man, #iou, #not-even-jail, #late-night {
        grid-column: span 1;
    }

    footer {
        font-size: 1rem;
    }
}
